.bf__c-button 
  display block
  text-align center
  line-height 45px
  width 100%
  margin 10px auto
  background-color #f7b902
  font-weight 700
  color black
  text-transform uppercase
  font-size 17px
  text-decoration none
  transition .2s linear
  
  &:hover 
    box-shadow 1px 1px 9px 0px $black