.header__m-cart
  width 100%
  max-width 450px
  //display inline-block
  display none
  position absolute
  background-color white
  top 50px

  .header__m-cartHeader
    height 45px 
    border-bottom 1px solid #eaeaea
    margin-bottom 10px
    
    h3 
      line-height 45px
      font-weight 700
      padding 0 10px
      

  .header__m-cartBody
    display inline-block
    width 100%
    height 60px
    overflow hidden
    
    .empty-cart
      display none
      text-align center
      line-height 60px
      
    .header__m-cartBody-item
      display inline-block
      height 100%
      width 100%
      margin-bottom 5px
      
      div 
        float left
        height 100%

      .cartItem__img
        width 20%

      .cartItem__description
        width 55%
        color #666666
        position relative
        
        .cartItem__description-Title
          font-size 15px
          font-weight 600
          position absolute
          top 0
          padding 0 2px 0 0
          
        .cartItem__description-quantity
          font-size 13px
          position absolute
          bottom 0
          
          .quantity 
            font-weight 600


      .cartItem__price
        width 25%
        text-align center
        
        .price 
          font-size 12px
          line-height 60px
          font-weight 600
          color #666666
          
          +above(tablet)
            font-size 13px
        



  .header__m-cartFooter
    display inline-block
    min-height 60px
    margin-top 10px
    border-top 1px solid #eaeaea
    width 100%
    
    .header__m-cartFooter-subtotal
      display inline-block
      padding 0 10px
      font-size 14px
      margin 10px auto
      width 100%
      
      .shipping
        float left
        font-weight 600
        
        span 
          font-weight 400
          
      .total 
        font-weight 600
        float right
      
    .bf__c-button
      width calc(100% - 20px)
      