.hero
  width 100%
  display inline-block
  min-height 250px
  background-color #969696
  padding 40px 0
  margin 0 auto
  overflow hidden
  margin-bottom -5px
  
  .hero__m-Description
    width 100%
    margin 0 auto
    color #dbdbdb

    +above(tablet)
      width 50%
      float left
      margin-left 10%
    
    .hero__m-Description-title
      display block
      width 100%
      margin-bottom 20px
      font-size 39px
      font-weight 900
      text-transform uppercase

      +above(tablet)
        font-size 53px
        
      +above(small-desk)
        font-size 60px
      
    .hero__m-Description-text
      margin-bottom 25px
      display block
      width 100%
      font-weight 600
      font-size 17px
      
      +above(tablet)
        font-size 22px
        
      +above(small-desk)
        font-size 26px
        padding 0 15px 0 0
      
    a 
      display block
      height 35px
      line-height 35px
      width 115px
      text-align center
      background-color #dbdbdb
      text-transform uppercase
      font-size 12px
      font-weight 600
      text-decoration none
      color #969696
      
      +above(tablet)
        width 140px
        font-size 14px