.sectionTitle
  display block 
  width 100%
  margin-bottom 25px
  font-size 20px
  font-weight 600
  color #1e1e1e
  font-size 20px
  
  +above(tablet)
    font-size 25px

  span 
    font-weight 900
    border-bottom 1px solid #b4b4b4